<footer class="footer">
  <div class="container container--footer">
    <p>Currently Reading is a little project made by <a href="http://ricardofilipe.com">Ricardo Magalhães</a>. It's freely available on <a href="https://github.com/magalhini/goodreads-currently">Github</a>.
    The typefaces used in this project are <a href="https://typekit.com/fonts/bodoni-urw">Bodoni URW</a> and
      <a href="https://typekit.com/fonts/ff-tisa">FF Tisa</a>, both served from Typekit.</p>
  </div>
</footer>
