<!DOCTYPE html>
<html lang="en">
  {{>header}}
<body>

  <div class="container">
    <h1 class="main-title">Currently Reading</h1>
    <p class="main-subtitle">Your books from Goodreads 📚</p>
    <div class="helper-section">

      <div class="input-wrapper">
        <p class="helper__title">Currently Reading is both a pretty profile page for your current reading selection on Goodreads,
and an API microservice that allows you to consume its API in a <code>JSON</code> response. As an example,<a href="/reading/26866736/">here's my current reading list.</a></p>
      </div>

      <div class="submit-wrapper">
        <input placeholder="Enter your Goodreads ID or full profile URL" id="input" type="text" class="input__field input__field--actives">
        <label for="" class="input__label"></label>
        <button class="button" id="get-books" type="button" name="button">Display my books</button>
      </div>

      <div class="endpoints">
        <h3>API endpoints:</h3>
        <div><pre class="endpoint__link">/reading/:userID/json</pre> — <span class="endpoint__description">currently reading shelf</span></div>
        <div><pre class="endpoint__link">/book/:bookID/json</pre> — <span class="endpoint__description">gets book by ID</span></div>
      </div>

  </div>

  <script type="text/javascript">
    function compose(f, g) {
      return function(x) {
        return f(g(x));
      }
    }

    var getValue = function(el) {
      return el.target.value;
    };

    function Index() {
      this.inputField = document.getElementById('input');
      this.getBooksButton = document.getElementById('get-books');
      this.patternID = /\d+/g;
      this.extractID = this.extractID.bind(this);
      this.getBooks = this.getBooks.bind(this);
      this.getID = compose(this.extractID, getValue);
    }

    Index.prototype.extractID = function(val) {
      this.goodreadsID = val.match(this.patternID) ? val.match(this.patternID)[0] : null;
    };

    Index.prototype.getBooks = function(e) {
      if (this.goodreadsID) {
        window.location = '/reading/' + this.goodreadsID;
      }
    }

    Index.prototype.init = function() {
      this.inputField.addEventListener('keyup', this.getID);
      this.getBooksButton.addEventListener('click', this.getBooks);
    };

    var app = new Index();
    app.init();
  </script>
</body>
</html>
