<!DOCTYPE html>
<html lang="en">
  {{>header}}
<body>

  <div class="container">
    <h1 class="main-title">Currently Reading 📚</h1>
    <p class="main-subtitle">Your books from Goodreads</p>
    <div class="helper-section">

      <div class="input-wrapper">
        <p class="helper__title">Currently Reading is both a pretty profile page for your current reading selection on Goodreads,
and an API microservice that allows you to consume its API in a <code>JSON</code> response. As an example, <a href="/reading/26866736/">here's my current reading list.</a></p>
      </div>

      <div class="submit-wrapper">
        <input placeholder="Enter your Goodreads ID or full profile URL" id="input" type="text" class="input__field input__field--actives">
        <label for="" class="input__label"></label>
        <button class="button" id="get-books" type="button" name="button">Display my books</button>
      </div>

      <section class="endpoints-wrapper">
        <div class="endpoints container container--api">
          <h2>Using the API</h2>

          <div class="endpoint__item">
            <h4 class="endpoint__title">Currently Reading Shelf</h4>
            <span class="endpoint__description">Returns a JSON response with the book details on a currently reading shelf.</span>
            <p><pre class="endpoint__link">GET /reading/:userID/json</pre></p>
          </div>

          <div class="endpoint__item">
            <h4 class="endpoint__title">Get book detail by ID</h4>
            <span class="endpoint__description">Given a book ID, returns a JSON response with all the available information of a book.</span>
            <p><pre class="endpoint__link">GET /book/:bookID/json</pre></p>
          </div>

          <div class="endpoint__item">
            <h4 class="endpoint__title">Search books by author and title</h4>
            <span class="endpoint__description">Given an author or/and a book title, displays a JSON response with all the search results.</span>
            <p><pre class="endpoint__link">POST /search/book</pre></p>
            <p><pre>{title |String|}</pre></p>
            <p><pre>{author |String|}</pre></p>
          </div>

        </div>
      </section>

  </div>

  <script src="src/home.js"></script>
</body>
</html>
