<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>

  <div class="container">
    <h1 class="main-title">Currently Reading</h1>
    <p class="main-subtitle">Your books from Goodreads</p>
    <div class="helper-section">
      <label class="helper__title">What's your Goodreads ID?</label>
      <input class="input input--large" type="text" name="" value="">
      <button class="button" type="button" name="button">Display my books</button>

      <p>
        <a href="#">(want the <code>JSON</code> response instead?)</a>
      </p>
    </div>
    <p>Throw a <code>GET</code> request to <code>/reading/USER_ID</code> to fetch all books you're currently reading</p>
    <p>You can add <code>/json</code> to the URI in order to get the raw response.</p>
  </div>
</body>
</html>
