<!DOCTYPE html>
<html lang="en">
  {{>header}}
<body class="dark-theme">

  <div class="container">
    <h1 class="main-title">Currently Reading</h1>
    <p class="main-subtitle">Your books from Goodreads 📚</p>

    <div class="books">
      {{#if error}}
        <h3>There was an error getting the books for this user</h3>
      {{/if}}
      {{#if items}}
        {{#each items as |books|}}
          {{#each books.book as |book|}}
          <div class="book">
            {{#each book.authors as |author|}}
              {{#each author as |name| }}
                <p class="book__author">{{ name.0.name }}</p>
              {{/each}}
            {{/each}}
            {{#each books.id as |id|}}
              <a href=/book/{{ id }}>
                <img class="book__cover" width="100" src={{ book.image_url }} alt="">
              </a>
            {{/each}}
            <p class="book__title">{{ book.title }}</p>
          </div>
          {{/each}}
        {{/each}}
      {{/if}}
    </div>
  </div>
</body>
</html>
