body {
  color: #222;
	background: #f6f6f6;
  font-family: 'skolar sans latin';
  font-size: 1em;
}

* {
  box-sizing: border-box;
}

.dark-theme {
   background: #222127;
   color: #fff;
}

.main-title {
  font-family: 'skolar sans latin';
  font-size: 3em;
  letter-spacing: -1px;
  color: #c1795d;
  margin: 1rem 0;
}

.dark-theme .main-title {
  color: #ffad62;
}

.main-subtitle {
  font-family: 'skolar sans latin';
  font-size: 1em;
  margin-top: -1rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #8a8a8a;
}

.dark-theme .main-subtitle {
  color: #ffad62;
  opacity: .6;
}

.container {
  padding: 1rem;
  max-width: 50em;
  margin: auto;
}

.button {
  padding: 1.5em 3em;
  background-color: #c1795d;
  font-family: 'skolar sans latin';
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  color: #fff;
  font-weight: 600;
}

.input {
  text-align: center;
  background: transparent;
  border: none;
  border-bottom: 4px solid #ddd;
  font-family: 'skolar sans latin';
}

.input--large {
  font-size: 1.5em;
  padding: 1em 1em .5em 1em;
}

.input:focus {
  outline: none;
}

.books {
  margin-top: 4em;
  display: flex;
  align-items: flex-start;
  align-content: flex-end;
  flex-flow: row wrap;
  transform-style: preserve-3d;
  perspective: 800px;
}

.book {
  padding: 1em;
  width: 11em;
  flex-grow: 1;
  text-align: center;
  transition: transform ease-in-out .3s;
  overflow: hidden;
}

.book__cover {
  box-shadow: 0 15px 15px -5px rgba(0,0,0,.5);
}

.book:hover {
  transform: rotateY(-10deg);
}

.book__title {
  font-size: 1.2em;
  line-height: 1.3;
  font-family: 'skolar sans latin';
}

.book__author {
  font-family: 'Capitolium2';
  color: #808080;
}

div a {
  padding-left: 0.5em;
}

/**
 * Fancy input
 */

.helper-section {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.input-wrapper {
  position: relative;
  z-index: 1;
}

.input-wrapper {
  width: 100%;
}

.submit-wrapper {
  width: 100%;
  position: relative;
  text-align: center;
}

.input__field {
  background: transparent;
  position: relative;
  display: block;
  font-family: 'skolar sans latin';
  font-weight: 100;
  font-size: 1.3em;
  padding: 1em 0;
  height: 4;
  width: 100%;
  opacity: 1;
  color: #333;
  text-align: center;
  border: none;
  z-index: 10;
  border-radius: 0;
  transition: opacity 0.3s;
  -webkit-appearance: none;
}

.input__field:focus,
.input__field.input__field--active {
  transition-delay: .3s;
  color: #222;
  opacity: 1;
  outline: none;
}

.input__label {
  display: inline-block;
  float: right;
  padding: 1em 0;
  position: relative;
  width: 100%;
  text-align: left;
  color: #6a7989;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

.input__label::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 3.5em;
    background: #fff;
    -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.input__label::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.25em;
  background: #ddd;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.input__field:focus + .input__label::after,
.input__field--active + .input__label::after {
  transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
}

.input__field:focus + .input__label::before,
.input__field--active + .input__label::before {
  transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
}
